@import "../../theme/variables";

.credits-alert {
  .alert-wrapper {
    background-color: $background-color;
  }

  .alert-title {
    color: white;
    text-align: center;
    font-size: 18px;
  }

  .alert-sub-title {
    text-align: center;
    color: $text-color;
    font-size: 12px;
  }

  .alert-message {
    color: $text-color;
    font-size: 14px;

    a {
      color: color($colors, light-red, base)
    }
  }

  .alert-button-group {
    justify-content: center;
  }

  .alert-button {
    color: $text-color;
  }
}

page-home {
  font-family: 'roboto', 'sans-serif';

  .pomodoro-icon {
    position: absolute;
    top: 0;
    height: 100%;
  }

  ion-navbar, ion-toolbar, ion-header, ion-footer, ion-content, ion-list, ion-item, ion-option {
    font-style: normal !important;
    font-weight: 100 !important;
    background-color: $background-color;
    color: $text-color;
  }

  .center {
    text-align: center;
  }

  #timer-content {
    display: none;
  }

  .time-selector {
    min-width: 100%;
  }

  #stop-button {
    display: none;
  }

  #tally {
    margin-top: 2px;
    margin-bottom: 1px;
    font-size: .8em;
  }

  textarea {
    background-color: color($colors, secondary, base);
    min-width: 100%;
    max-width: 100%;
    overflow-y: auto;
    height: 50%;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }

    100% {
      -moz-transform: rotate(360deg);
    }
  }
}
